/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
#subHead {
  margin-bottom: -10px;
}

#backPack {
  margin-right: 30px;
  padding-right: 20px;
  float: left;
}
.avyImg{
  height: 54px;
}
.angleImg{
  height: 45px;
  padding-top: 7px;
}
.placeImg{
  height: 46px;
  padding-top: 4px;
}
.rightIcon{
  margin-left: 3px;
}
#slopeMap{
  float: right;
  margin-top: 40px;
}
#caic_fx_map{
  float: left;
  margin-top: 40px;
}
#myChart {
  width: 400px;
  height: 400px;
}
.mapsIcons{
  margin-top: 10px;
}
/*#modal1{
  width: 1100px;
  height: 2000px;
}*/
.modal{
  width: 90%;
  height: 90%;
  overflow-y: hidden;
}
.avyWarning{
  color: red;
  font-weight: 900;
}
.placeNav{
  height: 54px;
  padding-bottom: 5px;
  margin-bottom: -24px;
}
.mapNav {
  height: 52px;
  margin-bottom: -24px;
  padding-bottom: 5px;
}
.avyNav{
  height: 62px;
  margin-bottom: -24px;
}
.goggsNav{
  margin-left: 13px;
}
.menu{
  margin: 0px 20px 280px 20px;
}
.hatIcon{
  float: right;
}
.shrinkZones{
  height: 7px;
}
.graph{
  height: 100px;
}
.snowDepth{

}
.mapParallax{
  opacity: 0.3;
}
.graphCenter{
  display: flex;

}
.mapCont{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*#finalParallax{
  max-height: 300px;
}*/
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}
/*.transNav {
  opacity: 0.6;
  filter: alpha(opacity=60)
}*/

.button-collapse {
  color: #26a69a;
}
.indexStats{
  color: black;
}
.flexIndexCards{
  margin-top: 80px;
}
.indexIcons{
  margin-top: 70px;
}

/*.indexFlexBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

.parallax-container {
  min-height: 700px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
